<br><br>
    <div class="jumbotron" style="margin: 45px">
        <h2 style="text-align: center">Login</h2><br>
        <form>
          <div class="container">
            <p style="text-align: center;padding-bottom: 20px">
               E-mail <input type="text" name="email" placeholder="Enter email address" email required style="padding-right: 60px;margin-left: 35px" ></p>
                </div>
           <div class="container">
            <p style="text-align: center">
           Password <input type="password" name="password" placeholder="Password" required style="padding-right: 60px;margin-left: 15px"> <br>
           <input class="signinbtn" type="submit" value="Login" style="margin-top: 20px">     
          </div>
        
  
        </form>
  
    </div>
  
