
<div>
    <div class="jumbotron" style="margin: 45px">
        <h2 style="text-align: center;padding-top: 5%">Register</h2><br>
        <form action="">
          <div class="container">
            <p style="text-align: center">
            First Name <input type="text" name="name" placeholder="Enter name..." name required style="padding-right: 60px;margin-left: 50px"><br><br>
            Last Name <input type="text" name="name" placeholder="Enter name..." name required style="padding-right: 60px;margin-left: 50px"><br><br>
            E-mail <input type="text" name="email" placeholder="Enter Email address..." email required style="padding-right: 60px;margin-left: 90px"><br><br>
           Password <input type="password" name="password" placeholder="Enter password..." required style="padding-right: 60px;margin-left: 55px;margin-bottom: 20px"> <br>
           <input class="signupbtn" type="submit" value="Register" style="margin-top: 20px">               
          </div>
        </form>
    </div>
  </div>